# Cargo build output
/target/

# Executables
**/*.exe
**/*.dll
**/*.so
**/*.dylib

# Editor files
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# MacOS
.DS_Store

# Logs
*.log

**/*.rs.bk
*.flamegraph.svg
flamegraph.svg
*.data
*.data.old